/* GENERAL */
*{
  margin: 0;
  padding:  0;
  box-sizing: border-box;
}

.jt-container{
  margin: 0 auto;
  padding: 20px 0;
  width: 70%;
  /* background-color: aquamarine; */
}

/* .logo{
  text-align: center;
} */

.logo img{
  width: 300px;
}

/* .input-area{
  padding: 20px 0;
} */

/* .input-area input, .input-area button{
  padding: 10px 15px;
  border-radius: 10px;
} */

/* .input-area input{
  width: 300px;
  margin-right: 20px;
} */

.tasks-area{
  background-color: #F5F7F7;
  border-radius: 10px;
  padding: 10px;
  margin: 40px 0;
}

.tasks-area ul{
  padding: 0;
}

.tasks-area ul li{
  list-style: none;
}

.task{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.task:hover{
  background-color: white;
}

.task.done span{
  text-decoration: line-through;
}