/* GENERAL */
*{
  margin: 0;
  padding:  0;
  box-sizing: border-box;
}

body{
  background-color: #37718E;
}


.jt-container{
  margin: 0 auto;
  padding: 20px 0;
  width: 70%;
}

/* HEADER */

.logo img{
  width: 200px;
}

.jt-title{
  color: #8EE3EF;
}

/* INPUT */

.input-area{
  padding: 20px 0;
}

.input-area button{
  color: #8EE3EF;
  background-color: #254E70;
}

.input-group{
  width: 500px;
}

.alert-message{
  color: white;
  background-color: #C33C54;
  border-radius: 10px;
  padding: 10px;
  width: 500px;
}

/* TASKS LIST */

.tasks-area ul{
  padding: 0;
}

.tasks-area ul li{
  list-style: none;
}

.task{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #254E70;
  color: #8EE3EF;
}

.task:hover{
  background-color: #C33C54;
}

.task.done span{
  text-decoration: line-through;
}

/* FOOTER */

footer{
  color: #8EE3EF;
}